<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Welcome, <%= user.displayName %>!</p>
    <a href="/logout">Logout</a>
    <p>GitHub Username: <%= user.username %></p>
    <img src="<%= user._json.avatar_url %>" alt="Profile Picture">
</body>
</html>


